.vscode/extensions.json
.vscode/settings.json
.vscode/Pico-W-Stub/__builtins__.pyi
.vscode/Pico-W-Stub/_asyncio.pyi
.vscode/Pico-W-Stub/_boot_fat.pyi
.vscode/Pico-W-Stub/_boot.pyi
.vscode/Pico-W-Stub/_onewire.pyi
.vscode/Pico-W-Stub/_rp2.pyi
.vscode/Pico-W-Stub/_thread.pyi
.vscode/Pico-W-Stub/array.pyi
.vscode/Pico-W-Stub/binascii.pyi
.vscode/Pico-W-Stub/bluetooth.pyi
.vscode/Pico-W-Stub/cmath.pyi
.vscode/Pico-W-Stub/cryptolib.pyi
.vscode/Pico-W-Stub/deflate.pyi
.vscode/Pico-W-Stub/dht.pyi
.vscode/Pico-W-Stub/ds18x20.pyi
.vscode/Pico-W-Stub/errno.pyi
.vscode/Pico-W-Stub/framebuf.pyi
.vscode/Pico-W-Stub/gc.pyi
.vscode/Pico-W-Stub/hashlib.pyi
.vscode/Pico-W-Stub/heapq.pyi
.vscode/Pico-W-Stub/io.pyi
.vscode/Pico-W-Stub/json.pyi
.vscode/Pico-W-Stub/lwip.pyi
.vscode/Pico-W-Stub/machine.pyi
.vscode/Pico-W-Stub/math.pyi
.vscode/Pico-W-Stub/micropython.pyi
.vscode/Pico-W-Stub/neopixel.pyi
.vscode/Pico-W-Stub/network.pyi
.vscode/Pico-W-Stub/ntptime.pyi
.vscode/Pico-W-Stub/onewire.pyi
.vscode/Pico-W-Stub/os.pyi
.vscode/Pico-W-Stub/platform.pyi
.vscode/Pico-W-Stub/random.pyi
.vscode/Pico-W-Stub/requests.pyi
.vscode/Pico-W-Stub/rp2.pyi
.vscode/Pico-W-Stub/select.pyi
.vscode/Pico-W-Stub/socket.pyi
.vscode/Pico-W-Stub/ssl.pyi
.vscode/Pico-W-Stub/struct.pyi
.vscode/Pico-W-Stub/sys.pyi
.vscode/Pico-W-Stub/time.pyi
.vscode/Pico-W-Stub/uarray.pyi
.vscode/Pico-W-Stub/uasyncio.pyi
.vscode/Pico-W-Stub/ubinascii.pyi
.vscode/Pico-W-Stub/ubluetooth.pyi
.vscode/Pico-W-Stub/ucollections.pyi
.vscode/Pico-W-Stub/ucryptolib.pyi
.vscode/Pico-W-Stub/uctypes.pyi
.vscode/Pico-W-Stub/uerrno.pyi
.vscode/Pico-W-Stub/uhashlib.pyi
.vscode/Pico-W-Stub/uheapq.pyi
.vscode/Pico-W-Stub/uio.pyi
.vscode/Pico-W-Stub/ujson.pyi
.vscode/Pico-W-Stub/umachine.pyi
.vscode/Pico-W-Stub/uos.pyi
.vscode/Pico-W-Stub/uplatform.pyi
.vscode/Pico-W-Stub/urandom.pyi
.vscode/Pico-W-Stub/ure.pyi
.vscode/Pico-W-Stub/urequests.pyi
.vscode/Pico-W-Stub/uselect.pyi
.vscode/Pico-W-Stub/usocket.pyi
.vscode/Pico-W-Stub/ussl.pyi
.vscode/Pico-W-Stub/ustruct.pyi
.vscode/Pico-W-Stub/usys.pyi
.vscode/Pico-W-Stub/utime.pyi
.vscode/Pico-W-Stub/uwebsocket.pyi
.vscode/Pico-W-Stub/webrepl_setup.pyi
.vscode/Pico-W-Stub/webrepl.pyi
.vscode/Pico-W-Stub/websocket.pyi
.vscode/Pico-W-Stub/aioble/__init__.pyi
.vscode/Pico-W-Stub/aioble/central.pyi
.vscode/Pico-W-Stub/aioble/client.pyi
.vscode/Pico-W-Stub/aioble/core.pyi
.vscode/Pico-W-Stub/aioble/device.pyi
.vscode/Pico-W-Stub/aioble/l2cap.pyi
.vscode/Pico-W-Stub/aioble/peripheral.pyi
.vscode/Pico-W-Stub/aioble/security.pyi
.vscode/Pico-W-Stub/aioble/server.pyi
.vscode/Pico-W-Stub/asyncio/__init__.pyi
.vscode/Pico-W-Stub/asyncio/core.pyi
.vscode/Pico-W-Stub/asyncio/event.pyi
.vscode/Pico-W-Stub/asyncio/funcs.pyi
.vscode/Pico-W-Stub/asyncio/lock.pyi
.vscode/Pico-W-Stub/asyncio/stream.pyi
.vscode/Pico-W-Stub/micropython_rp2_rpi_pico_w_stubs-1.21.0.post3.dist-info/INSTALLER
.vscode/Pico-W-Stub/micropython_rp2_rpi_pico_w_stubs-1.21.0.post3.dist-info/LICENSE.md
.vscode/Pico-W-Stub/micropython_rp2_rpi_pico_w_stubs-1.21.0.post3.dist-info/METADATA
.vscode/Pico-W-Stub/micropython_rp2_rpi_pico_w_stubs-1.21.0.post3.dist-info/RECORD
.vscode/Pico-W-Stub/micropython_rp2_rpi_pico_w_stubs-1.21.0.post3.dist-info/REQUESTED
.vscode/Pico-W-Stub/micropython_rp2_rpi_pico_w_stubs-1.21.0.post3.dist-info/WHEEL
.vscode/Pico-W-Stub/micropython_stdlib_stubs-1.1.1.dist-info/INSTALLER
.vscode/Pico-W-Stub/micropython_stdlib_stubs-1.1.1.dist-info/LICENSE.md
.vscode/Pico-W-Stub/micropython_stdlib_stubs-1.1.1.dist-info/METADATA
.vscode/Pico-W-Stub/micropython_stdlib_stubs-1.1.1.dist-info/RECORD
.vscode/Pico-W-Stub/micropython_stdlib_stubs-1.1.1.dist-info/WHEEL
.vscode/Pico-W-Stub/mip/__init__.pyi
.vscode/Pico-W-Stub/requests/__init__.pyi
.vscode/Pico-W-Stub/stdlib/__future__.pyi
.vscode/Pico-W-Stub/stdlib/_ast.pyi
.vscode/Pico-W-Stub/stdlib/_codecs.pyi
.vscode/Pico-W-Stub/stdlib/_collections_abc.pyi
.vscode/Pico-W-Stub/stdlib/_decimal.pyi
.vscode/Pico-W-Stub/stdlib/abc.pyi
.vscode/Pico-W-Stub/stdlib/builtins.pyi
.vscode/Pico-W-Stub/stdlib/enum.pyi
.vscode/Pico-W-Stub/stdlib/functools.pyi
.vscode/Pico-W-Stub/stdlib/io.pyi
.vscode/Pico-W-Stub/stdlib/queue.pyi
.vscode/Pico-W-Stub/stdlib/re.pyi
.vscode/Pico-W-Stub/stdlib/selectors.pyi
.vscode/Pico-W-Stub/stdlib/socket.pyi
.vscode/Pico-W-Stub/stdlib/sre_compile.pyi
.vscode/Pico-W-Stub/stdlib/sre_constants.pyi
.vscode/Pico-W-Stub/stdlib/sre_parse.pyi
.vscode/Pico-W-Stub/stdlib/ssl.pyi
.vscode/Pico-W-Stub/stdlib/types.pyi
.vscode/Pico-W-Stub/stdlib/typing_extensions.pyi
.vscode/Pico-W-Stub/stdlib/typing.pyi
.vscode/Pico-W-Stub/stdlib/_typeshed/__init__.pyi
.vscode/Pico-W-Stub/stdlib/_typeshed/dbapi.pyi
.vscode/Pico-W-Stub/stdlib/_typeshed/wsgi.pyi
.vscode/Pico-W-Stub/stdlib/_typeshed/xml.pyi
.vscode/Pico-W-Stub/stdlib/asyncio/__init__.pyi
.vscode/Pico-W-Stub/stdlib/asyncio/base_events.pyi
.vscode/Pico-W-Stub/stdlib/asyncio/base_futures.pyi
.vscode/Pico-W-Stub/stdlib/asyncio/base_tasks.pyi
.vscode/Pico-W-Stub/stdlib/asyncio/constants.pyi
.vscode/Pico-W-Stub/stdlib/asyncio/coroutines.pyi
.vscode/Pico-W-Stub/stdlib/asyncio/events.pyi
.vscode/Pico-W-Stub/stdlib/asyncio/exceptions.pyi
.vscode/Pico-W-Stub/stdlib/asyncio/format_helpers.pyi
.vscode/Pico-W-Stub/stdlib/asyncio/futures.pyi
.vscode/Pico-W-Stub/stdlib/asyncio/locks.pyi
.vscode/Pico-W-Stub/stdlib/asyncio/log.pyi
.vscode/Pico-W-Stub/stdlib/asyncio/mixins.pyi
.vscode/Pico-W-Stub/stdlib/asyncio/proactor_events.pyi
.vscode/Pico-W-Stub/stdlib/asyncio/protocols.pyi
.vscode/Pico-W-Stub/stdlib/asyncio/queues.pyi
.vscode/Pico-W-Stub/stdlib/asyncio/runners.pyi
.vscode/Pico-W-Stub/stdlib/asyncio/selector_events.pyi
.vscode/Pico-W-Stub/stdlib/asyncio/sslproto.pyi
.vscode/Pico-W-Stub/stdlib/asyncio/staggered.pyi
.vscode/Pico-W-Stub/stdlib/asyncio/streams.pyi
.vscode/Pico-W-Stub/stdlib/asyncio/tasks.pyi
.vscode/Pico-W-Stub/stdlib/asyncio/threads.pyi
.vscode/Pico-W-Stub/stdlib/asyncio/timeouts.pyi
.vscode/Pico-W-Stub/stdlib/asyncio/transports.pyi
.vscode/Pico-W-Stub/stdlib/asyncio/trsock.pyi
.vscode/Pico-W-Stub/stdlib/asyncio/unix_events.pyi
.vscode/Pico-W-Stub/stdlib/collections/__init__.pyi
.vscode/Pico-W-Stub/stdlib/collections/abc.pyi
.vscode/Pico-W-Stub/stdlib/os/__init__.pyi
.vscode/Pico-W-Stub/stdlib/sys/__init__.pyi
.vscode/Pico-W-Stub/uasyncio/__init__.pyi
.vscode/Pico-W-Stub/uasyncio/core.pyi
.vscode/Pico-W-Stub/uasyncio/event.pyi
.vscode/Pico-W-Stub/uasyncio/funcs.pyi
.vscode/Pico-W-Stub/uasyncio/lock.pyi
.vscode/Pico-W-Stub/uasyncio/stream.pyi
utils/myWLAN_config.py
.micropico
secret.py
webserver/wifi.json
log.txt
data/Alarm.json
webserver/log.txt
events.log
