body {
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
    color: white;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column; /* Elemente vertikal anordnen */
    justify-content: center;
    align-items: center;
    margin: 20px 0 0 0;
}

.box {
    background-color: #222;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    text-align: center;
    width: 80%;
    max-width: 400px;
    margin-bottom: 20px; /* Abstand zwischen den Boxen */
}

.box h2 {
    margin: 0 0 20px 0;
}

.button, input[type="time"], input[type="datetime-local"] {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
    box-sizing: border-box;
}

div.weekday {
    width:100%;
}

label.weekday {
    color: #666;
    width: 10%;
    box-sizing: border-box; /* Stellt sicher, dass Padding und Border innerhalb der Breite enthalten sind */
    display: inline-block; /* Oder flex, je nach Layout */
    text-align: center; /* Zentriert den Text, falls gewünscht */
}

input.weekday {
    appearance: none;
    display: none;
}

input.weekday:checked + label.weekday {
    color: #fff;
    font-weight: bold;
}

input[type="time"], input[type="datetime-local"] {
    width:100%;
    background-color: #333;
    border: 1px solid #555;
    cursor: text;
}

.button:hover, input[type="time"]:hover {
    background-color: #555;
}

@media (max-width: 600px) {
    .box {
        width: 80%;
    }

    .button, input[type="time"] {
        font-size: 16px;
    }
}

.alarm-list {
    text-align: left;
    list-style-type: none;
    padding: 0;
}
ul {
    margin: 0;
    padding: 0;
}

.alarm-item {
    border-bottom: 1px solid #555;
}

.alarm-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.alarm-time {
    font-family: Arial Black, sans-serif;
    font-size: 2.2em; /* Größere Schriftgröße */
    text-align: right; /* Rechtsbündig */
    padding: 0px 20px;
    flex-grow: 1;
}

.alarm-weekdays {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.alarm-weekdays.weekday {
    color: #666;
    padding: 0;
    margin: 0;
}

.alarm-weekdays.weekday.highlight {
    color: #fff;
    padding: 0;
    margin: 0;
    font-weight: bold;
}

/*SWITCH*/
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
.switch input {
    display: none;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #6b6c72;
    transition: 0.4s;
    border-radius: 34px;
}
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}
input:checked + .slider {
    background-color: #4ad25c;
}
input:checked + .slider:before {
    transform: translateX(26px);
}